<style>
    body {
        background-color: #121212;
        color: #ffffff;
    }

    .card {
        background-color: #1e1e1e;
        border: 1px solid #333;
    }

    .card-body h4 {
        color: #ffffff;
    }

    .list-group-item {
        background-color: #1e1e1e;
        color: #ffffff;
        border: 1px solid #333;
    }

    .list-group-item:hover {
        background-color: #242424;
    }

    /* Links */
    a {
        color: #C6AA76;
    }
    a:hover {
        color: #fff;
    }

    /* Section headers */
    h2, h4 {
        color: #ffffff;
    }
    p, li{
        color:white;
    }
    strong{
        color: #C6AA76;
    }
</style>
<div class="container py-4 pb-5">
  <div class="row">
    <div class="col-9">
      <h2 class="mb-3">@{{username}}</h2>
      <div class="card mb-4">
        <div class="card-body">
          <h4>Profile Info</h4>
          <p><strong>Name:</strong> {{#if full_name}}{{full_name}}{{else}}Not provided{{/if}}</p>
          <p><strong>Email:</strong> {{email}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4>Stats</h4>

          <p><strong>Daily Stats:</strong></p>
          <ul>
            <li>Plays: {{stats.plays}}</li>
            <li>Wins: {{stats.wins}}</li>
            <li>Avg Guesses: {{stats.avgGuesses}}</li>
            <li>Avg Time: {{stats.avgTime}}</li>
          </ul>
          <p><strong>Challenge Stats:</strong></p>
          <ul>
            <li>Plays: {{stats.challengePlays}}</li>
            <li>Wins: {{stats.challengeWins}}</li>
          </ul>
        </div>
      </div>
        
      <div class="card">
        <div class="card-body">
          <h4>Friends</h4>
          <ul class="list-group">
            {{#each friends}}
              <li class="list-group-item d-flex justify-content-between">
                <span>{{username}}</span>
              </li>
            {{/each}}
          </ul>
         
        </div>
      </div>
         <br><br>
    </div>
  </div>
</div>