{{#> profileWrapper}}
<h2 class="mb-3">@{{username}}</h2>

<div class="mb-4">
  <h4>Daily Stats</h4>
  <p>Plays: {{daily_plays}}</p>
  <p>Wins: {{daily_wins}}</p>
  <p>Avg Guesses: {{avg_guesses}}</p>
  <p>Avg Time: --</p>
</div>

<div>
  <h4>Challenge Stats</h4>
  <p>Plays: {{challenge_plays}}</p>
  <p>Wins: {{challenge_wins}}</p>
</div>

{{/profileWrapper}}
